- provide(:title, 'Home')
- home = Page.find_by(title: "Home")

.row
	.col-md-12
		- if home
			%span.content
				!~ kramdown home.content
			%ul.pull-right
				= link_to "edit", edit_page_path(home)
		- else
			%h1 Alex and Adele
			%p
				Welcome to the Dewey-Lopez's website!
