- provide(:title, "Edit user")
%h2 Update your profile

.row
	.col-md-7
		= form_for(@user) do |f|
			= render 'shared/error_messages', object: f.object

			= render 'fields', f: f

			= f.submit "Save changes", class: "btn btn-large btn-primary"

		-#= gravatar_for @user
		=#= link_to "http://gravatar.com/emails", :target => "_blank" do 
		-#change