- provide(:title, @user.name)

- user_profile = Page.find_by(title: @user.name)
.row
	.col-md-12
		- if user_profile
			%span.content
				!~ kramdown user_profile.content
			%ul.pull-right
				- if current_user?(user_profile.user)
					
					= link_to "edit", edit_page_path(user_profile)
				- if current_user
					- if current_user.admin?  
						|
						= link_to "delete", user_path(current_user.id), method: :delete, data: { confirm: "You sure?" }
		- else
			%h1= @user.name
			%p
				Default profile page - personalize by creating a new post with your name as the title. 