- provide(:title, @page.page_alias.titleize)
.row
	.col-md-8
		= render partial: 'shared/feed_item', object: @page	
		-# if !@page.sequence
			-# @parent_id = 0
			-# @button_text = "Comment"
			-#= render partial: 'shared/comment_form', object: @new_comment
	.col-md-4
		- @user = User.find(@page.user_id)
		- @display = true
		= render 'shared/sidebar'

- if !@page.sequence 
	.row.comment-row
		- if @comments.any?
			.comments
				.col-md-8
					%h3.comment-heading Comments:
				= render @comments
