@import "bootstrap";



// /* mixins, variables, etc... */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// Colors, picked using the following color picker:
// http://paletton.com/#uid=55h0Q0koOwi8JXRikJQtintAs7f
// http://paletton.com/#uid=53L0Q0kp3wu8VXLixJMtunrBb78
$hot-pink		: #d8317a;
$hot-light-pink : #ea649f;
$white 			: #faf9f7;
$violet			: #41157f;
$purple			: #6633ae;
$lavender		: #9365d3;
$light-lavender	: #d3baf7;
$black			: #333333;
$peaceful-blue	: #428bca;
$mango			: #e7781d;
$green-pasture	: #82b749;
$tropical-jungle: #46a441;
$tropical-night : #1c6917;
$blue-whale		: #3358ac;
$grayMediumLight: #eaeaea;

/* universal */

a {
	&:hover {
		color: $violet;
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, h6 {line-height: 1;}

html {overflow-y: scroll;}

body {
	padding-top: 60px;
	background-color: $white;
	font-family: 'Lato', 'Lucida Grande', 'Helvetica', sans-serif;
}

section {overflow: auto;}

h3 {
	margin-bottom: 0px;
}

p {
	font-size: 1.1em;
	line-height: 1.2em;
	margin-top: 7px;
	margin-bottom: 7px;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: $hot-pink;
	
	&:hover {text-decoration: none;}
}


.navbar {
   margin-bottom: 10px;
   border: none;
   background-color: $white;
}

.nav-tabs {
	margin-top: 4px;
	border-color: $light-lavender;
}

.nav-tabs > li.active >a {
	background-color: $white;
	border-color: $light-lavender;
	border-bottom-color: transparent;
}

.nav-tabs > li > a {
	color:	$hot-pink;
	&:hover {
		color: $violet;
	//	background-color: $light-lavender;
		text-decoration: none;
		border-bottom-color: $light-lavender;
	}
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: $white;
	color: $violet;
	border-color: $light-lavender;
	border-bottom-color: transparent;
}



.dropdown-menu > li > a {
	color: $hot-pink;

	&:hover {
		color: $violet;
	}
}

// navbar for small screens
@media (max-width: 767px) { 
    .nav-tabs > li {
        float:none;
        border-color: transparent;
 
    }
    .nav-tabs > li.active > a{
    	border-color: transparent;


    }
    .nav > li > a:hover, .nav > li > a:focus,
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
     {
     	border-color: transparent;
        background:none;
    }

    .nav, .open > a {
    	border-color: transparent;
    }

    .navbar-nav, .open, .dropdown-menu {
    	position: static;
    	float: none;
    	background-color: $white;
    	border: 0;
    	box-shadow: none;
    	width: auto;
    }

}

/* footer */

footer {
	margin-top: 20px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $gray-light;
	a {
		color: $gray;
		&:hover {color: $gray-darker;}
	}
	small {float: left;}
	ul {
		float: right; list-style: none;
		li {float: left; margin-left: 10px;}
	}
}

// /* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}


// /* sidebar */

aside {
	section {
		padding: 10px 0;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
		 	font-size: 1.4em;
		 	text-align: center;
		 	margin-bottom: 3px;
		 	margin-top: 0px;			
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}


/* forms */
form {
	margin-top: 10px;
}

.btn {
	border: none;
	background-color: $hot-pink;
	color: $white;
	line-height: 17px;
	a {
		color: #fff;
		&:hover {
			text-decoration: none;
		}
	}
	&:hover {
		color: #fff;
			background-color: $hot-light-pink;
	}
	&:active {
		background-color: $lavender;
	}
}


.checkbox-inline {
	font-size: 1em;
}

.side-button {
	font-size: .8em !important;
	margin-top: 10px;
}

/* Posts */

.subtle-link {
	color: $black;
}

.timestamp {
	color: $gray-light;
}

// .post {
// 	margin-left: 10px;
// }

// Code blocks:
pre {
		margin-top: 3px;
        border:1px dashed #E1E1E1;
        color:#333344;
        background:#ffffff;
        font-family: 'Consolas', 'Inconsolata-g', monospace;
        overflow:auto;
        font-size:13px;
        padding:0.5em;
        line-height: 1.1;
}
pre > a {
    padding-top: 60px;
    margin-top: -60px;
    width: 1px; /* '0' will not work for Opera */
    display: inline-block;
    text-decoration: none;
    border: none;
    &:active {
    	color: #fff;
    }
}

.CodeRay .attribute-name { color:#E7BE69 }                      /* html attribute */
.CodeRay .comment  { color: #777777; font-style: italic; } /* comment */
.CodeRay .char { color: $tropical-night; }                      /* escaped character */
.CodeRay .class { color: $lavender;}                         /* class */
.CodeRay .constant { color: $lavender; }                         /* constant */
.CodeRay .content { color: $green-pasture; }
.CodeRay .delimiter { color:$green-pasture;}
.CodeRay .float { color: $green-pasture; }                      /* float */
.CodeRay .function { color: $mango; }                      /* function */
.CodeRay .global-variable { color: $blue-whale; }                      /* global variable */
.CodeRay .integer  { color: $green-pasture; }                      /* integer */
.CodeRay .inline { background:#151515 }                 /* inline code */
.CodeRay .instance-variable { color:#D0CFFE }                      /* instance variable */
.CodeRay .preprocessor { color:#E7BE69 }                      /* doctype */
.CodeRay .keyword  { color: $hot-pink; font-weight: bold !important; }                      /* keyword */
.CodeRay .regxx { color: $green-pasture; }                      /* regex */
.CodeRay .string  { color: $green-pasture; }                      /* string */
.CodeRay .symbol { color: $peaceful-blue; }                      /* symbol */
.CodeRay .tag { color:#E7BE69 }                      /* html tag */
.CodeRay .predefined-constant { color: $peaceful-blue; }                      /* boolean */


// tables

table {
  width: 100%;
}
  table > thead > tr > th,
  table > thead > tr > td,
  table > tbody > tr > th,
  table > tbody > tr > td,
  table > tfoot > tr > th,
  table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd; }
  table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd; }
  table > caption + thead > tr:first-child > th,
  table > caption + thead > tr:first-child > td,
  table > colgroup + thead > tr:first-child > th,
  table > colgroup + thead > tr:first-child > td,
  table > thead:first-child > tr:first-child > th,
  table > thead:first-child > tr:first-child > td {
    border-top: 0; }
  table > tbody + tbody {
    border-top: 2px solid #dddddd; }
  table .table {
    background-color: white; }


/* Comments */

.comment-heading {
	margin-top: -1px;
	margin-bottom: 3px;
}

.page-comment {
	a{
		font-weight: bold;
		color: $violet;
	}
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

.score {
	color: $hot-light-pink;
	padding-left: 4px;
}

.reply {
	color: $black;
}

.reply > a {
	font-weight: normal;
	color: $peaceful-blue;
}

.parent {
	font-style: italic;
	color: $purple
}


// /* Users index */

.users { 
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
	}
}

// /* pages */

// .pages {
// 	list-style: none;
// 	margin: 10px 0 0 0;

// 	li {
// 		padding: 10px 0;
// 		border-top: 1px solid #e8e8e8;
// 	}
// }



// .gravatar {
// 	float: left;
// 	margin-right: 10px;
// }


// table {

// 	font-size:11px;
// 	color:#333333;
// 	border-width: 1px;
// 	border-color: #666666;
// 	border-collapse: collapse;
// }

// .CodeRay {
//  //	background-color: #232323;
//  //	border: 1px solid black;
//  //	font-family: 'Courier New', 'Terminal', monospace;
//  //	color: #E6E0DB;
//  //	padding: 3px 5px;
//  //	overflow: auto;
//  	font-size: 12px;
//  //	margin: 12px 0;
// }


// .CodeRay pre {
//  	margin: 0px;
//  	padding: 0px;
// }

/* errors */

// .alert .alert-danger {
// 	color: $green-pasture;
// }